# === GLOBAL ===
.metadata/
*.log

# === BACKEND: Java (Spring Boot) ===
PayMyBuddy/target/
*.class
*.iml
*.jar
*.war

# === FRONTEND: Node / Vue ===
paymybuddy-app/node_modules/
paymybuddy-app/dist/
paymybuddy-app/.env
